<body>
    <ul>
        <li>Series</li>
        <ul>
            <li><a href="https://www.atresplayer.com/antena3/series/aqui-no-hay-quien-viva/">Aqui no hay quien viva</a></li>
            <li><a href="https://www.atresplayer.com/antena3/series/alli-abajo/">Allí abajo</a></li>
            <li><a href="https://www.atresplayer.com/antena3/series/el-secreto-de-puente-viejo/">El secreto de Puente Viejo</a></li>
            
        </ul>
        <li>Peliculas</li>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=Tc2PCCAakqw">Grease</a></li>
            <li><a href="https://www.youtube.com/watch?v=wBe8atbZ8bw">El señor de los anillos</a></li>
            <li><a href="https://www.youtube.com/watch?v=4d_kg3tmDpQ">Star wars</a></li>
        </ul>
        <li>Juegos</li>
        <ul>        
            <li><a href="https://www.pokemon.com/es/">Pokemon</a></li>
            <li><a href="https://justdancenow.com/">Just Dance</a></li>
            <li><a href="https://store.epicgames.com/es-ES/p/fall-guys">Fall Guys</a></li>
        </ul>
        <li>Deportes</li>
        <ul>
            <li><a href="https://www.marca.com/">Futbol</a></li>
            <li><a href="https://www.acb.com/">Baloncesto</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Nataci%C3%B3n">Natación</a></li>
        </ul>
        <li>Entretenimiento</li>
        <ul>
            <li><a href="https://www.youtube.com/">Youtube</a></li>
            <li><a href="https://www.twitch.tv/">Twitch</a></li>
            <li><a href="https://www.atresplayer.com/">Atresplayer</a></li>
        </ul>
    </ul>
    
</body>