<body>
    <h1>ETIQUETAS HTML</h1>
    <ul>
        <LI>TEXTOS</LI>
        <ul>
               <li> b> Define el texto en negrita </li>
               <li> em> Define el texto enfatizado </li>
               <li> i> Define una parte del texto en una voz o estado de ánimo alternativo </li>
               <li> small> Define texto más pequeño </li>
               <li> strong> Define texto importante </li>
               <li> sub> Define texto subíndice </li>
               <li> sup> Define texto en superíndice </li>
               <li> ins> Define el texto insertado </li>
               <li> del> Define el texto eliminado </li>
               <li> mark> Define el texto marcado/resaltado </li>
        </ul>
        <li>ENLACES</li>

        <ul>
              <li> Use el elemento a> para definir un enlace </li>
              <li>  Use el atributo href para definir la dirección del enlace </li>
              <li>  Use el atributo  target para definir dónde abrir el documento vinculado </li>
              <li> Use el elemento img> (dentro de a>) para usar una imagen como enlace </li>
              <li> Use el esquema mailto: dentro del atributo href para crear un enlace que abra el programa de correo electrónico del usuario </li>



        </ul>
    
        <LI>LISTAS</LI>


        <ul>


            <li> ul> Define una lista desordenada </li>
            <li> ol> Define una lista ordenada </li>
            <li> li> Define un elemento de lista </li>
            <li> dl> Define una lista de descripción </li>
            <li> dt> Define un término en una lista de descripción </li>
            <li> dd> Describe el término en una lista de descripción </li>


        </ul>
    
    </ul>
    
</body>