<head>
    <title>Webs</title>
</head>

<body>
    <h1>Mis Webs Favoritas </h1>
    <a href="https://twitter.com/home">Twitter</a>
    <a href="https://www.twitch.tv/">Twitch</a>
    <a href="https://www.twitch.tv/">Youtube</a>
    <a href="https://rojadirectahd.tv/">Rojadirecta</a>
    <a href="https://www.pokemon.com/es/">Pokemon</a>
</body>