<body>
    <h1>Mi Sitio</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, repellendus mollitia! Consequatur corporis distinctio nisi ea? Magnam, voluptates, molestias ad repellendus quisquam quas excepturi quidem voluptatum tenetur, praesentium mollitia esse.</p>
    <h2>Ultimos Proyectos</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime temporibus molestias quasi non harum dolore placeat voluptas quidem repellat? Reprehenderit iure reiciendis labore nihil tempore ducimus dignissimos vitae culpa accusantium!</p>
    <a href="./PAG2/ejercicio2a.html">Acceder al Resumen de los projecttos</a>
    <a href="./PAG2/ejercicio2b.html">Acceder al projecto 1</a>
    <a href="./PAG2/ejercicio2c.html">Acceder al projecto 2</a>

</body>