<body>

    <PRE>
    
<span class="Toctext">Waka Waka</span>
<span class="Toctext">Quedate</span>
<span class="Toctext">Despecha</span>


<span class="mw-headline" id="Waka Waka">Waka Waka</span>

Llegó el momento, caen las murallas Va a comenzar la única justa de las batallas No duele el golpe, no existe el miedo Quítate el polvo, ponte de pie, y vuelves al ruedo Y la presión se siente Espera en ti tu gente 
Ahora vamos por todo Y te acompana la suerte Samina mina Zangalewa Porque esto es África Tsamina mina, eh, eh Waka waka, eh, eh Tsamina mina Zangalewa Porque esto es África Oye tu Dios y no estarás solo Llegaste aquí
 para brillar, lo tienes todo La hora se acerca, es el momento Vas a ganar cada batalla, ya lo presiento Hay que empezar de cero, para tocar el cielo Ahora vamos por todo Y todos vamos por ellos 
 Samina mina Zangalewa Porque esto es África Tsamina mina, eh, eh Waka waka, eh, eh Tsamina mina Zangalewa Anawa-a-a Tsamina mina, eh, eh Waka waka, eh, eh Tsamina mina Zangalewa Porque esto es África Tsamina mina, 
 Anawa-a-a Tsamina mina Zangalewa Tsamina mina, Anawa-a-a Tsamina mina, eh, eh Waka waka, eh, eh Tsamina mina Zangalewa Anawa-a-a Tsamina mina, eh, eh Waka waka, eh, eh Tsamina mina Zangalewa Porque esto es África 
 Django, eh, eh Django, eh. eh Tsamina mina zangalewa Anawa-a-a Django, eh, eh Django, eh, eh Tsamina mina zangalewa Anawa-a-a Porque esto es África Porque esto es África 

 <span class="mw-headline" id="Quedate">Quedate</span>
_______________________________________________________________________________

Llegué al club con el combo, rápido la vi lejos Se pintaba los labios y la copa como espejo Se acercó poco a poco y yo queriendo que me baile Luego me dijo: "Vamos, que te enseño Buenos Aire Y nos fuimos en una, 
empezamo' a la una Y con la nota rápido nos dieron las tre' Perreamos toda la noche y nos dormimo' a las die' Ando rezándole a Dios pa' repetirlo otra ve' Y nos fuimos en una, empezamo' a la una Y con la nota rápido 
nos diеron las tre' Perreamos toda la nochе y nos dormimo' a las diez Ando rezándole a Dios pa' repetirlo otra ve' (Eh-eh, eh-eh, eh-eh) [Dime, beba Fecha y hora y te paso a buscar Yo le llego donde los demás tú 
sabes que no le llegan Ruido de botellas de champán de las copas al brindar Pero solo escucho cómo late (Eh-eh, eh-eh) Mi corazón cuando veo ese cuerpo 'e escaparate El traje combina con la Mercede' granate No hay 
otro por más que ellos traten (Yeah)  Quédate Que las noches sin ti duelen Tengo en la mente las pose' y todos los gemido' Que ya no quiero nada que no sea contigo Quédate Que las noches sin ti due-e-e-e-len Tengo 
en la mente las pose' y todo lo que hicimo' Que ya no quiero nada que no sea contigo  Dale, guacha, suelta (Suelta) Vente pa' Canaria' sin el equipaje y sin viaje de vuelta Por la isla te vo'a dar una vuelta Bebé, 
solo avisa El sábado teteo, el domingo misa Estoy a ver si me garantiza' Que te me pegas como quien graba con Biza Y vi salir a las amigas del party y ella se quedó Mirándonos a los ojo', no al reloj 
(Y nos fuimos en) Uber al apartamento En privado me pedía que le diera un concierto Le dije que por meno' de un beso no canto  Y nos fuimos en una, empezamo' a la una Y con la nota rápido nos dieron las tre' 
Perreamos toda la noche y nos dormimo' a las die' Ando rezándole a Dios pa' repetirlo otra ve'  Quédate Que las noches sin ti duelen Tengo en la mente las pose' y todos los gemido' Que ya no quiero nada que no sea 
contigo Quédate Que las noches sin ti due-e-e-e-len Tengo en la mente las pose' y todo lo que hicimo' Que ya no quiero nada que no sea contigo  ¡Bizarrap! Quevedo con el Biza, yeah-yeah-yeah LPGC, you know, oh-oh 
(Eh-eh, eh-eh, eh-eh) 

<span class="mw-headline" id="despechá’">despechá’</span>

______________________________________________________________________________

Baby No me llames Que yo estoy ocupá’ Olvidando tus males Ya decidí Que esta noche se sale Con todas mis Motomamis Con todas mis yales Y ando despechá’ woah, alocá Bajé con un flow nuevo de caja, baby, hackeá Lo 
muevo de lao’ a lao’ y otro lao’ Hoy salgo con mi baby de la disco coroná’ Y ando despechá’ woah, alocá Que Dios me libre de volver a tu lao’ Lo muevo de lao’ a lao’ y otro lao’ Hoy salgo con mi baby de la disco 
coroná’ Voy con la falda, aros y cadena Piña colada, no tengo pena Voy con la Fefa, ella es la jefa Ella lo baila, ella me enseña Hoy no trabaja, esta morena Fuck la fama, fuck la faena La noche esta larga La noche 
está buena Mambo violento Y fin del problema Mira que fácil te lo voy a decir A B C, 1 2 3 Mira que fácil te lo voy a decir Que esta Motomami ya no está pa ti Mira que fácil te lo voy a decir A B C, 1 2 3 Mira que 
fácil te lo voy a decir Que esta Motomami ya no está pa ti Y ando despechá’ woah, alocá Bajé con un flow nuevo de caja, baby, hackeá Lo muevo de lao’ a lao’ y otro lao’ Hoy salgo con mi baby de la disco coroná’ Y 
Ando despechá’ woah, alocá Que Dios me libre de volver a tu lao’ Lo muevo de lao’ a lao’ y otro lao’ Hoy salgo con mi baby de la disco coroná’ Voy a 180 porque soy una racineta Te distraes y yo te adelanto por la 
derecha Voy a 180 porque soy una racineta Te distraes y yo te adelanto por la derecha 

    </PRE>

</body>