<title>Mi Web</title>
<h1>Ejercicio2 Formularios</h1>
<nav> 
    <h2>Formulario de opciones</h2>
    <label for="IES">Instituto:</label>
    <input type="text" id="IES" name="IES"><br>
    <label for="stu">Estudios Elegidos:</label>
    <input type="text" id="stu" name="stu"><br>
    <label for="fname">Nombre:</label>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Apellidos:</label>
    <input type="text" id="lname" name="lname"><br>
    <label for="fname">Email:</label>
    <input type="text" id="mail" name="mail"><br><br>
    <label for="col">Elija un color:</label>
    <input type="color" id="col" name="col"><br>
    <input type="text" id="IES" name="IES" required size="47"
        placeholder="Utilice este recuadro por favor"><br>
    <input type="radio" id="red" name="red" value="red2g">
    <label for="red2g">2G</label><br>
    <input type="radio" id="red" name="red" value="red3g">
    <label for="red3g">3G</label><br>
    <input type="radio" id="red" name="red" value="red4g">
    <label for="red4g">4G</label><br><br>
    <label for="data">Elija una fecha:</label>
    <input type="date" id="data" name="data"><br><br>
    <h2>Por favor complete una de estas opciones</h2>
    <label for="avatar">Elija un fichero:</label>
    <input type="file"><br>
    <select name="name">
        <option value="usb">USB</option>
        <option value="Paralelo" selected>Paralelo</option>
        <option value="PS2">PS2</option>
    </select><br>
    <input type="radio" id="sistema" name="sistema" value="sistemawindows">
    <label for="sistema">Windows</label>
    <input type="radio" id="sistema" name="sistema" value="sistemamac">
    <label for="sistema">MAC</label>
    <input type="radio" id="sistema" name="sistema" value="sistemalinux">
    <label for="sistema">Linux</label><br>
    <label for="data">Elija una fecha:</label>
    <input type="date" id="data" name="data"><br><br>
    <A href="/for/RESPUESTA_FORMULARIO.HTMl">
        <input type="submit" value="Enviar">
    </A>
</nav>