<body>
    <a href="../ejercicio2.html">Volver a la pagina principal</a>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam fugiat est doloremque placeat voluptatum quasi obcaecati totam, perspiciatis sapiente quibusdam corrupti provident iste quisquam cum. Possimus dicta impedit repellat error!</p>
    
</body>

