<table class="default">

    <tr>
  
      <td>23 km</td>
  
      <td>18 km</td>
  
      <td>19 km</td>

      <td>64 km</td>
  
    </tr>

    <tr>
  
        <td>23 km</td>  
    
        <td rowspan="3">1 km</td>
         
        <td></td>

  
        <td>64 km</td>
    
      </tr>

      <tr>
  
        <td>23 km</td>

        <td></td>
  
        <td>64 km</td>
    
      </tr>

      <tr>
  
        <td>23 km</td>

        <td></td>
  
        <td>64 km</td>
    
      </tr>

      <tr>
  
        <td>23 km</td>
    
        <td>18 km</td>
    
        <td>19 km</td>
  
        <td>64 km</td>
    
      </tr>

  
  </table>
  <br>

  <table>

    <tr>
  
        <td>23 km</td>

        <td>18 km</td>
  
        <td rowspan="3">1 km</td>

        <td rowspan="2">1 km</td>

        </tr>

        <tr>

            <td rowspan="5">1 km</td>

            <td>23 km</td>
            
            

        </tr>

        <tr>

            <td>23 km</td>

            <td>18 km</td>

        </tr>


        <tr>
            <td colspan="3">0 km</td>

        </tr>

        <tr>

            <td colspan="3">0 km</td>

        </tr>

        <tr>

          <td>23 km</td>
  
          <td>18 km</td>
      
          <td>19 km</td>

        </tr>

        
  </table>