<table class="default">

    <tr>
  
      <td>Celda 1</td>
  
      <td>Celda 2</td>
  
      <td>Celda 3</td>

      <td>Celda 1</td>
  
      <td>Celda 2</td>
  
    </tr>
  
    <tr>
  
        <td>Celda 1</td>
    
        <td>Celda 2</td>
    
        <td>Celda 3</td>
  
        <td>Celda 1</td>
    
        <td>Celda 2</td>
    
      </tr>

      <tr>
  
        <td>Celda 1</td>
    
        <td>Celda 2</td>
    
        <td>Celda 3</td>
  
        <td>Celda 1</td>
    
        <td>Celda 2</td>
    
      </tr>
  
  </table>