<td><img src="cropped-lasenia22-1.png" alt="SENIA" width="150" height="50"></td>

<br>

<table class="default">

<tr>

   <td>horario</td>

    <td>Lunes</td>
    <td>Martes</td>
    <td>Miercoles</td>
    <td>Jueves</td>
    <td>Viernes</td>

</tr>
<tr>
    <td>8:00-8:55</td>
    <td rowspan="2">Aplicaciones Web</td>
    <td rowspan="2">Sistemas Operativos en Red</td>
    <td rowspan="2">Sistemas Operativos en Red</td>
    <td rowspan="2">Aplicaciones Web</td>
    <td>Empresa Iniciativa emprendedora</td>

</tr>
<tr> 
    <td>8:55-9:50</td>
    <td rowspan="2">Seguridad informatica</td>
</tr>
<tr>
     <td>9:50-10:45</td>
     <td>Sistemas Operativos en Red</td>
     <td>Seguridad informatica</td>
     <td>Empresa Iniciativa emprendedora</td>
     <td>Sistemas Operativos en Red</td>

     
</tr>
<tr>
    <td>10:45-11:05</td>
    <td colspan="5">PATIO</td>
</tr>
<tr>
    <td>11:05-12:00</td>
    <td>Sistemas Operativos en Red</td>
     <td>Seguridad informatica</td>
     <td>Tutoria</td>
     <td>Sistemas Operativos en Red</td>
     <td>Seguridad informatica</td>
</tr>
    <td>12:00-12:55</td>
    <td rowspan="2">Servicios en red</td>
    <td rowspan="2">Servicios en red</td>
    <td rowspan="2">Servicios en red</td>
    <td rowspan="2">Servicios en red</td>
    <td rowspan="2">Sistemas Operativos en Red</td>

</tr>
<tr>
    <td>12:55-13:50</td>
</tr>
<tr>
    <td>13:50-14:10</td>
    <td colspan="5">PATIO</td>
</tr>
<tr>
    <td>14:10-15:05</td>
    <td>Empresa Iniciativa emprendedora</td>
</tr>


</table>