<body>
    <blockquote>

        <pre>


            El río Guadalquivir
                tiene las barbas Granada
                   uno llanto y otro sangre.
        
        </pre>

    </blockquote>   
</body>