<body>
    <pre>
        font-family: Helvetica, Arial, Geneva, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 5px;
       



    </pre>


font-style: <i>italic</i>;<br>
color: #4D6FC0; }<br>
p strong {<br>
font-weight :<b>bold;</b><br>
color: #4D6FC0;<br>
</body>