<body>
    <blockquote>

        <pre>


        El rio Guadalquivir
        tiene las barbas granada
        uno llanto y otro sangre
            
        ¡Ay, amor,
        que se fue por el aire!

        Para los barcos de vela,
        Sevilla tiene un camino;
        por el agua de Granada
        sólo reman los suspiros
        
        </pre>

    </blockquote>   
</body>