<BODY>
    <abbr title="Educación Secundaria Obligatoria">ESO</abbr>
    <abbr title="Instituto de Educacion Secundaria">IES</abbr>
    <abbr title="Real Academia Española">RAE</abbr>
    <abbr title="Organización mundial de la salud">OMS</abbr>
    <abbr title="Sistemas Microinformatocos y redes">SMR</abbr>
</BODY>