<body>
    <blockquote>

        <pre>


        El rio Guadalquivir
        tiene las barbas granada
        uno llanto y otro sangre
            
        ¡Ay, amor,
        que se fue por el aire!

        Para los barcos de vela,
        Sevilla tiene un camino;
        por el agua de Granada
        sólo reman los suspiros
        
        </pre>

    </blockquote>   
</body>

<body>
    <blockquote>

        <pre>


            El río Guadalquivir
                tiene las barbas Granada
                   uno llanto y otro sangre.
        
        </pre>

    </blockquote>   
</body>

<body>

    <h1>este es un titulo</h1>
    <p>este es el primer parrafo</p>
    <p>este es el segundo parrafo</p>
    <h2>este es el primer subtitulo</h2>
    <p>este es el primer parrafo del subtitulo 1</p>
    <p>este es el segundo parrafo del subtitulo 1</p>
    <h3>este es el segundo subtitulo</h3>
    <p>este es el primer parrafo del subtitulo 2</p>
    <p>este es el segundo parrafo del subtitulo 2</p>

</body>

<BODY>
    <abbr title="Educación Secundaria Obligatoria">ESO</abbr>
    <abbr title="Instituto de Educacion Secundaria">IES</abbr>
    <abbr title="Real Academia Española">RAE</abbr>
    <abbr title="Organización mundial de la salud">OMS</abbr>
    <abbr title="Sistemas Microinformatocos y redes">SMR</abbr>
</BODY>