<body>
    <h1>este es el titulo</h1>
    <p>esto es un parrafo y <b>como esto es importante lo pongo en negrita</b></p>
    <p>este es el segundo parrafo y <i> esto esta en cursiva</i></p>


</body>